<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>


            <main>
                <div class="jumbotron">
                    <h1>Sobre min</h1>
                    <p>Olá eu sou o Neto Martins</p>
                </div>
            </main>

            <%- include('../partials/footer'); %>
    </body>

</html>